
.body{
    background: gray;
}
.grid{
    width:40%;
    margin:auto;
    margin-top: 20px!important;
}
img{
    display:block;
     width:100%;
     height: 300px;
     margin-bottom: 15px;
}
h6{
    border-bottom: gray solid 2px;
}