<div class="body">
    <h3 class="text-center text-uppercase">Creat spa application - images</h3>
    <div class="grid">
        <h6>1.Creat Home,Login,Register,PageNotFound Component (ng g c new componentname)</h6>
        <img src="../../assets/images/CreatCmpnt.PNG" alt="">
        <h6>2.Import RouterModule in app.module.component.</h6>
        <img src="../../assets/images/importRoutr.PNG" alt="">
        <h6>3.@ngModule->Imports->Import RouterModule.forRoot([]).Inside forRoot( ) Set path and component, as a object. </h6>
        
        <img src="../../assets/images/ngModule.PNG" alt="">
        <h6>4.Use "routrLink" set path.</h6>
        <img src="../../assets/images/routerlink.PNG" alt="">
        <h6>5.At last add router-outlet tag in app.component.html.</h6>
        <img src="../../assets/images/outletTag.PNG" alt="">
    </div>

</div>