<div>
    <div class="left">
     <h4 class="text-center"> <span><i class="fa fa-cogs" aria-hidden="true"></i></span> Steps of Creating SPA App</h4>
   <ul class="list-group">
       <li class="list-group-item">1.Creat Home,Login,Register,PageNotFound Component (ng g c new componentname)</li>
       <li class="list-group-item">2.Import RouterModule in app.module.component.</li>
       <li class="list-group-item">3.@ngModule->Imports->Import RouterModule.forRoot([]).</li>
       <li class="list-group-item">4.Inside forRoot( ) Set path and component, as a object.</li>
       <li class="list-group-item">5.Use "routrLink" set path.</li>
       <li class="list-group-item">6.At last add router-outlet tag in app.component.html.</li>
   </ul>
   <div class="subm">
       <form>
           <div class="form-group"> 
            <label for="doubts" class="mt-3 text-center"><span><i class="fa fa-commenting-o" aria-hidden="true"></i></span> YOU HAVE ANY DOUBTS:</label>   
            <input type="text"
            placeholder="Enter Your doubts" class="form-control mt-2" id="doubts"></div>
            <div class="form-group">
                <button class="btn btn-primary">Submit</button>
            </div>
            <a  routerLink="/Login">Login</a>  <a class="m" routerLink="/Register">Signup</a>
       </form>
       

   </div>
    </div>
    <div class="right">
        <h3 class=" text-center text-uppercase">Creating a singlpage Application</h3>
        <p class="jumbotron">
            We can creat a SPA (ingle Page Application) with help of Angular frame work.
        Now days most of the application creating in SPA model.This is one of the important feautre of Angular.   </p>
         <img src="../../assets/images/lifeCycle.jpg" alt="LyfeCycleofSPA"/>
    </div>
</div>